#TypingTest-container {
  max-width: 50%!important;
  font-size: 1em;
  margin-top: 20px;
}

.before-goal {
  color: lightgrey;
}

.goal {
  background-color: lightgreen;
}

.after-goal {

}

.prompt {
  text-align: justify;
  font-size: 1.5em!important;
  line-height: 100%;
}
