#TypingTest-container {
  max-width: 80%!important;
  font-size: 1em;
  margin-top: 20px;
}

.before-goal {

}

.goal {
  background-color: lightgreen;
}

.goal > .goal-error {
  background-color: red;
}

.after-goal {

}

.prompt {
  text-align: justify;
  font-size: 1.5em!important;
  line-height: 100%;
}

.goal-slow {
  color: red;
  filter: brightness(30%);
}

.goal-fast {
  color: green;
  filter: brightness(50%);
}

.goal-slow.goal-really-slow {
  filter: brightness(100%);
  font-weight: bolder;
}

.goal-fast.goal-really-fast {
  filter: brightness(100%);
  font-weight: bolder;
}
